:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
}

body {
    background-color: #E5E5E5;
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

ul {
  list-style: none;  
  padding: 0;
  margin: 0;
}

/* container */

.container {
 width: 1200px;
 margin-left: auto;
 margin-right: auto;
}

.page-header {
    background-color: #FFFFFF;
    outline: 1px solid #ECECEC;
}

/* Logo */

.logo {
    color: #000000;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo-web {
    color: var(--accent-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

/* site nav */

.site-nav a {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav a:hover,
.site-nav a:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.contact a {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contact a:hover,
.contact a:focus {
    color: var(--accent-color);
}

/* hero*/

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2F303A;
    text-align: center;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px #000000;
       }

       .section {

       }
/* button */

.button {
    color: var (--title-text-color);
    background-color: #F5F5F5;
    font-family: inherit;
    display: inline-block;
}

.button.primary {
    color: #FFFFFF;
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button.secondary {
    margin-bottom: 34px;
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 73px;
}
    

.button.secondary:hover,
.button.secondary:focus {
    color: #FFFFFF;
    background-color: var(--accent-color);
}

/*section*/

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
/* features */

.feature-title {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.feature-text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.71;
}

/*section box */
.section.box {
    padding-top: 0;
}

.section-title {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/*section team*/ 

.section.team {
    background-color: #F5F4FA;
}

.section .subtitle {
    margin-top: 30px;
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.section .text {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

/* portfolio content */

.content a {
    text-decoration: none;
}

.content-title {
    margin-top: 20px;
    margin-bottom: 4px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    }

    .content-text {
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 20px;
        color: #757575;
        font-size: 16px;
        line-height: 1.88;
    }

/* footer */

.footer {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
    color: #FFFFFF;
}

.footer-logo {
margin-top: 0;
margin-bottom: 20px;
padding-top: 60px;
color: #FFFFFF;
font-family: Raleway;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
text-decoration: none;
}

.footer .text {
    margin-top: 0;
    margin-bottom: 9px;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}

.footer-contact {
    margin-top: 0;
    margin-bottom: 9px;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}

.footer-contact:hover,
.footer-contact:focus {
    color: var(--accent-color);
}