:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
}

body {
    background-color: #E5E5E5;
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

ul {
  list-style: none;  
  padding: 0;
  margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* container */

.container {
 margin-left: auto;
 margin-right: auto;
 width: 1200px;
 padding-left: 15px;
 padding-right: 15px;
}

.page-header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #ECECEC;
}

/* Main container*/

.main-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
}
/* Logo */

.logo {
    color: #000000;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo-web {
    color: var(--accent-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

/* site nav */

.site-nav {
    display: flex;
    align-items: center;
    margin-left: 93px;
}

.site-nav .item {
    margin-right: 50px;
}

.site-nav .item:last-child{
    margin-right: 0;
}

.site-nav a {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.contact {
    display: flex;
    margin-left: auto;
}

.contact .item + .item {
    margin-left: 50px;
  }

.contact a {
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contact a:hover,
.contact a:focus {
    color: var(--accent-color);
}

/* hero*/

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2F303A;
    text-align: center;
}

.hero-title {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 696px;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px #000000;
       }

    /* button */

  
  .buttons {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.button.primary {
    display: inline-block;
    padding: 10px 32px;
    min-width: 200px;
    font-family: inherit;
    color: #FFFFFF;
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: 1px solid #2196F3;
    cursor: pointer;
}
.btn-list {
    display: inline-block;
    margin-right: 8px;
}

.btn-list:last-child {
    margin-right: 0;
}

.button.secondary {
    padding: 6px 22px;
    min-width: 73px;
    font-family: inherit;
    color: var (--title-text-color);
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #F5F4FA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }


.button.secondary:hover,
.button.secondary:focus {
    color: #FFFFFF;
    background-color: var(--accent-color);
}

/*section*/

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
/* features */

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.features .item {
    width: 270px;
    margin-right: 30px;
}

.features .item:last-child {
    margin-right: 0;
}

.feature-title {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.feature-text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.71;
}

/*section box */

.section.box {
    padding-top: 0;
}

.section-title {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.box-list {
    display: flex;
    justify-content: space-between;
}

.box-list .item{
    display: block;
    margin-right: 30px;
    width: 370px;
}

.box-list .item:last-child {
    margin-right: 0;
}

/*section team*/ 

.section.team {
    background-color: #F5F4FA;
}

.team-list {
    display: flex;
    justify-content: space-between;
}

.team-list .item {
  background-color: #FFFFFF;
  margin-right: 30px;  
  width: 270px ;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list .item:last-child {
    margin-right: 0;
}

.team-img {
    margin-bottom: 30px;
}

.section .subtitle {
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.section .text {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

/* portfolio content */

.content {
    display: flex;
    flex-wrap: wrap;
}

.content-list {
width: 370px;
margin-right: 30px;
margin-bottom: 30px;
background-color: #FFFFFF;
border: 1px solid #EEEEEE;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content-list:nth-child(3n) {
    margin-right: 0;
}

.content-list:nth-last-child(-n +3) {
    margin-bottom: 0;
}

.content a {
    text-decoration: none;
}

.card-info {
  padding: 20px 24px;  
  text-align: left;
}

.content-title {
    margin-top: 20px;
    margin-bottom: 4px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    }

.content-text {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 20px;
    color: #757575;
    font-size: 16px;
    line-height: 1.88;
}

/* footer */

.footer {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
    color: #FFFFFF;
}

.footer-logo {
margin-top: 0;
margin-bottom: 20px;
display: block;
color: #FFFFFF;
font-family: Raleway;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
text-decoration: none;
}

.footer .text {
    margin-top: 0;
    margin-bottom: 9px;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}

.footer-contact {
    margin-top: 0;
    margin-bottom: 9px;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}

.footer-contact:hover,
.footer-contact:focus {
    color: var(--accent-color);
}